* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #0eb582;
  transition: all 0.2s ease-in-out;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header {
  background-image: url(../images/banner.jpg);
  min-height: 120vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
header::before {
  content: "";
  position: absolute;
  top: 46px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}
.top-bar {
  background-color: #1e2f50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 1rem;
}
.contact {
  display: flex;
}
.phone {
  padding-right: 1rem;
  border-right: 1px solid gray;
}
.phone a,
.email a,
.login a {
  color: white;
  font-size: 13px;
  font-weight: 600;
}
.login p {
  color: white;
}
.email {
  padding-left: 1rem;
}
.nav-bar {
  position: relative;
  padding: 1.56rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-elements {
  display: flex;
}
.logo a img {
  display: block;
  max-width: 200px;
}
.category-btn {
  margin: 0.19rem 1.7rem;
  background-color: #0eb582;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 2.5rem;
  letter-spacing: 1px;
  color: #fff;
  padding: 0 15px 0 46px;
  border: none;
  position: relative;
}
.category-btn:before {
  content: "\f00b";
  position: absolute;
  top: 0;
  left: 17px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1rem;
  line-height: 40px;
  color: #fff;
}
.categories-dropdown {
  position: absolute;
  top: 75%;
  left: 18%;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  z-index: 11;
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
  display: block;
  opacity: 0;
  visibility: hidden;
  width: 250px;
  padding: 0.5rem 1rem;
}

.categories:hover .categories-dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
  transition: all 0.4s ease-in;
}
.categories-dropdown ul li a {
  color: #222 !important;
  font-weight: 500;
}
.categories-dropdown ul li a:hover {
  color: #0eb582;
  transition: all 0.2s ease-in;
}
.search {
  border: 1px solid #dedfe2;
  width: 220px;
  margin: 3px 1.7rem 3px 0;
  color: white;
}
.search input {
  width: calc(100% - 30px);
  background-color: transparent;
  box-shadow: 0 0 0 0 #fff;
  height: 38px;
  padding: 0 20px;
  color: #fff;
  border-radius: 0;
  font-size: 12px;
  border: none;
}
.search input::placeholder {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}
.search-btn {
  border: none;
  position: relative;
}
.search input[type="text"]:focus {
  outline: none;
}
.search-btn:before {
  content: "\f002";
  position: absolute;
  bottom: -10px;
  left: 0px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 18px;
  color: #fff;
}
.nav-links ul li {
  display: inline-block;
  padding: 0px 10px;
}
.nav-links a,
.categories-dropdown a {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 46px;
  letter-spacing: -0.14px;
  color: #fff;
  display: block;
}
.sub-links {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #fff;
  padding: 10px;
  min-width: 240px;
  box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.2);
  border: none;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  border-radius: 6px;
  top: 75%;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
  z-index: 999;
}
.sub-links li a,
.categories-dropdown li a {
  color: #333;
  border-bottom: 1px solid #f5f5f5;
  font-size: 12px;
  font-weight: 700;
}
.categories-dropdown ul li a:hover {
  color: #0eb582 !important;
}
.sub-links li a:hover {
  color: #0eb582;
}
.about-link,
.courses-link,
.projects-link,
.services-link {
  position: relative;
}
.plus-minus {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.1);
  width: 50px;
  height: 46px;
}
.plus-minus:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
.plus-minus i {
  position: absolute;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  transition: all 0.4s ease;
}
.plus-minus .minus-icon {
  opacity: 0;
  pointer-events: none;
}
.plus-minus.active .minus-icon {
  opacity: 1;
  pointer-events: auto;
}
.plus-minus.active .plus-icon {
  opacity: 0;
  pointer-events: none;
}

.custom-container {
  position: relative;
  padding: 0 1rem;
}
.main-content {
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.main-content h2 {
  color: #fff;
  font-size: 54px;
  font-weight: 700;
  line-height: 68px;
  padding-bottom: 25px;
}
.main-content p {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  line-height: 45px;
  padding-bottom: 30px;
}
.main-btn {
  display: inline-block;
  background-color: #fff;
  color: #02863a;
  padding: 18px 30px 15px 60px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  border: 2px solid #fff;
  border-radius: 35px;
  position: relative;
  transition: background ease-in-out 0.8s;
}
.main-btn:hover {
  color: #fff;
  background-color: #02863a;
  border-color: #02863a;
  transition: border-color ease-in-out 0.4s;
}
.main-btn:hover::before {
  color: #fff;
}
.main-btn:before {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 14px;
  color: #02863a;
  top: 16px;
  left: 30px;
}
.first-btn:before {
  content: "\f590";
}
.first-btn {
  margin-right: 2rem;
}
.second-btn:before {
  content: "\f5d2";
}
.about-us {
  padding: 80px 15px 50px;
  display: flex;
  justify-content: space-between;
}
.about-text {
  width: 50%;
}
.about-text h1 {
  color: #333;
  padding: 0 0 10px 0;
  font-size: 42px;
  font-weight: 800;
  line-height: 52px;
}
.about-text p {
  border-left: 1px solid #02863a;
  padding-left: 15px;
  color: #555;
  line-height: 26px;
  padding-bottom: 0;
}
.about-text a {
  line-height: 26px;
  color: #02863a;
  display: block;
  font-weight: 600;
  letter-spacing: 1px;
}
.about-text a:hover {
  color: #333;
}
.about-cards {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
.about-card {
  border: 2px solid #93d8c3;
  border-radius: 15px;
  padding: 30px 25px;
  text-align: center;
  margin: 15px;
  width: 100%;
  max-width: 215px;
  background-color: #f0fdfa;
  cursor: pointer;
  transition: all ease-in-out 0.6s;
}
.about-card figure i {
  color: #0eb582;
  font-size: 70px;
  padding-bottom: 15px;
}
.about-card:hover {
  border-color: #fff;
}
.about-card h4 {
  color: #0eb582;
  font-size: 24px;
  font-weight: 800;
  line-height: 26px;
}
.about-card h6 {
  color: #02863a;
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 0;
}
.departments-section {
  padding: 2.5rem 0;
}
.section-title {
  text-align: center;
  color: #333;
  font-size: 36px;
  line-height: 40px;
  padding-bottom: 55px;
  position: relative;
}
.section-title:before {
  content: "";
  width: 100px;
  height: 3px;
  background-color: #02863a;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 35px;
}
.department-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.department-card {
  width: 25%;
  min-width: 305px;
  padding: 1rem 1rem;
}
.card-content {
  border: 2px solid #e8e8e8;
  border-radius: 15px;
  padding: 40px 10px;
  text-align: center;
  position: relative;
  background-color: #fff;
  transition: all ease-in-out 0.4s;
}
.card-content:before {
  content: "";
  width: 60px;
  height: 60px;
  background-color: #1e2f50;
  border-radius: 10px;
  position: absolute;
  left: -15px;
  top: -15px;
  z-index: -1;
  transform: scale(0);
  transition: transform ease-in-out 0.4s;
}
.card-content img {
  display: block;
  margin: 0 auto 25px;
  max-width: 100px;
  transition: transform ease-in-out 0.4s;
}
.card-content h4 {
  font-size: 22px;
  line-height: 25px;
  color: #333;
  padding-bottom: 0;
  margin-bottom: 0;
  height: 50px;
}
.card-content:after {
  content: "";
  width: 60px;
  height: 60px;
  background-image: url(../images/dots.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  right: -15px;
  bottom: -15px;
  z-index: -1;
  transform: scale(0);
  transition: transform ease-in-out 0.4s;
}
.card-content:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.card-content:hover img {
  transform: scale(0.9);
}
.card-content:hover::before {
  transform: scale(1);
}
.card-content:hover::after {
  transform: scale(1);
}
.featured-section {
  background-image: url(../images/featured.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 150px 0;
  margin-bottom: 60px;
}
.featured-content .section-title {
  color: #fff;
  padding-bottom: 50px;
  margin-bottom: 0;
}
.featured-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.featured-card {
  padding: 5px 15px;
  width: 33%;
}
.featured-card-content {
  background-color: #fff;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}
.featured-card-content img {
  width: 100%;
  /* min-height: 340px; */
  display: block;
  border-radius: 15px 15px 0 0;
  border-bottom: 1px solid #0eb582;
}
.featured-card-content h2 {
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.24px;
  color: #333;
  padding-bottom: 0;
  min-height: 60px;
}
.caption {
  padding: 40px 35px;
}
/* .featured-card-content .caption h2 {
  min-height: unset;
} */
.featured-card-content .over-cap {
  position: absolute;
  background-color: #0eb582;
  top: -30px;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all ease-in-out 0.5s;
  opacity: 0;
}
.featured-card-content:hover .over-cap {
  opacity: 1;
}
.featured-card-content:hover .top-cont {
  transform: translateY(20px);
}
.featured-card-content:hover .cour-prices {
  bottom: -30px;
}
.featured-card-content .over-cap .top-cont {
  padding: 40px 35px 30px;
  background-image: url(../images/featured-hover-top.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: all ease-in-out 0.5s;
}
.top-cont h2 {
  color: #fff;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
}
.featured-card-content ul {
  padding-top: 15px;
}
.featured-card-content ul li.num-clas {
  margin-right: 60px;
}
.featured-card-content ul li.num-clas:before {
  content: "\f15c";
  line-height: 26px;
}
.featured-card-content ul li:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #fff;
  font-size: 14px;
  position: absolute;
  left: 0;
  top: 0;
}
.featured-card-content ul li.cou-dur:before {
  content: "\f15c";
}
.clearfix {
  display: flex;
}
.clearfix .num-clas,
.cou-dur {
  color: #fff;
  position: relative;
  padding-left: 20px;
}

.cour-prices {
  background-image: url(../images/featured-hover-bottom.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  max-height: 160px;
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  transition: bottom ease-in-out 0.5s;
}
.sin-cour-price {
  position: absolute;
  bottom: 40px;
  right: 40px;
  color: #fff;
  line-height: 75px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  background-color: #1e2f50;
  display: inline-block;
  width: 75px;
  border-radius: 50%;
  padding-bottom: 0;
  text-align: center;
}
.student-section {
  padding: 60px 0;
}
.title-left {
  margin-left: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.title-left .section-title:before {
  margin: 0;
}
.item {
  padding: 0 5px;
}
.carousel-container {
  width: 100%;
  padding: 0 1rem;
}
.carousel-container .owl-carousel-one .item {
  width: 100%;
  height: 230px;
}
iframe {
  width: 101%;
  height: 100%;
  border: 2px solid #0eb582;
}
.owl-pagination .owl-page span {
  background-color: white;
}
.owl-pagination .owl-page .active span {
  background-color: #0eb582 !important;
}
.owl-theme .owl-dots .owl-dot span {
  width: 15px;
  height: 15px;
  margin: 5px 7px;
  background: white;
  display: block;
  transition: opacity 200ms ease;
  border-radius: 30px;
  border: 2px solid #0eb582;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #0eb582;
}
.partner-section {
  padding: 20px 0 40px;
}
.partner-logo img {
  max-height: 90px;
  object-fit: cover;
  width: auto !important;
  margin: auto;
}
.news-section {
  padding: 115px 0;
  background-image: url(../images/news-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.news-date {
  font-size: 14px;
  line-height: 26px;
  color: #555;
  padding: 0 15px;
  letter-spacing: -0.14px;
  position: relative;
  margin-bottom: 8px;
}
.news-date:before {
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #0eb582;
  line-height: 26px;
  font-size: 8px;
  position: absolute;
  top: 0;
  left: 2px;
}
.news-title {
  font-size: 24px;
  font-weight: 900;
  line-height: 30px;
  letter-spacing: -0.24px;
  padding: 0 0 20px 0;
  color: #222;
  min-height: 80px;
}
.news-link {
  display: inline-block;
  color: #333;
  font-size: 14px;
  line-height: 26px;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 20px;
  position: relative;
  transition: margin-left ease-in-out 0.4s;
}
.news-link:before {
  content: "\f055";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  line-height: 26px;
  position: absolute;
  top: 0;
  left: 0;
  color: #333;
}
.news-link:hover::before {
  color: #0eb582;
}
.news-link:hover {
  margin-left: 20px;
}
.item .card {
  height: 450px;
  border-radius: 15px;
}
.item .card img {
  border-radius: 15px 15px 0 0;
  height: 100%;
  width: 100%;
}
.newsletter-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0eb582;
  background-image: url(../images/newsletter_bg.png);
  background-size: cover;
  background-position: left center;
  max-width: 85%;
  margin: -60px auto 0;
  border-radius: 15px;
  padding: 50px;
  position: relative;
}
.newsletter-left,
.newsletter-right {
  width: 50%;
}
.newsletter-left h3 {
  font-size: 42px;
  color: #fff;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.42px;
  padding-bottom: 0;
}
.newsletter-link {
  display: block;
  font-size: 20px;
  color: #fff;
  background-color: #1e2f50;
  padding: 20px 35px;
  border-radius: 50px;
  text-align: center;
  margin: 10px auto;
  max-width: 320px;
  transition: background-color ease-in-out 0.5s;
  font-weight: 700;
}
.newsletter-link:hover {
  color: #1e2f50;
  background-color: #fff;
}
.big-footer {
  background-color: #1e2f50;
  padding: 200px 0 50px;
  margin-top: -140px;
}
.big-footer-container {
  display: flex;
}
.col-4 {
  width: 33.33%;
}
.col-2 {
  width: 16.67%;
}
.col-3 {
  width: 25%;
}
.col-3 {
  width: 25%;
}
.big-footer ul.tws-social {
  display: flex;
  padding: 2rem 0;
}
.tws-social li {
  padding-left: 30px;
}
.big-footer ul.tws-social li a {
  line-height: 40px;
  font-size: 16px;
  color: #a5b7d9;
  width: 40px;
  display: block;
  border: 1px solid #a5b7d9;
  border-radius: 50%;
  text-align: center;
}
.big-footer ul.tws-social li a:hover,
.widget_nav_menu ul li a:hover,
.icon-text-block a:hover {
  color: #0eb582;
}
.certification {
  margin: 20px 0 0 0;
}
.certification img {
  max-height: 80px;
  margin: 0 15px;
}
h4.widget-title {
  font-size: 18px;
  line-height: 26px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.18px;
  padding-bottom: 30px;
}
.widget_nav_menu ul li {
  padding-left: 30px;
  position: relative;
}
.widget_nav_menu ul li:before {
  content: "\f141";
  position: absolute;
  top: 0;
  left: 0;
  line-height: 36px;
  font-size: 16px;
  color: #a5b7d9;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.widget_nav_menu ul li a {
  line-height: 36px;
  font-size: 16px;
  color: #a5b7d9;
}
h4.widget-title {
  font-size: 18px;
  line-height: 26px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.18px;
  padding-bottom: 30px;
}
.icon-text-block {
  margin-bottom: 20px;
}

.icon-text-block .icon-block {
  width: 20%;
}
.icon-text-block i {
  width: 30px;
  line-height: 30px;
  font-size: 16px;
  color: #fff;
  display: block;
  margin: auto;
  border-radius: 50%;
  text-align: center;
  background: #0eb582;
}
.icon-text-block p {
  padding-bottom: 0;
  font-size: 16px;
  color: #a5b7d9;
}
.icon-text-block a {
  font-size: 16px;
  color: #a5b7d9;
  display: block;
  line-height: 30px;
}
.icon-text-block .content {
  width: 80%;
}
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}
.icon-text-block {
  margin-bottom: 20px;
}
.icon-text-block:last-child {
  margin-bottom: 0;
}
.col-5 {
  width: 41.67%;
}
.col-7 {
  width: 58.33%;
}
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}
.copyright p {
  padding-bottom: 0;
  line-height: 40px;
  font-size: 16px;
  color: #1e2f50;
}
.pay-meth {
  position: relative;
  text-align: right;
}
.pay-meth:before {
  content: "We Accept";
  font-size: 15px;
  color: #1e2f50;
  font-weight: 700;
  padding-right: 15px;
  position: relative;
  top: -10px;
}
.pay-meth li {
  display: inline-block;
  padding: 0 5px;
}
.pay-meth li img {
  display: block;
  max-height: 25px;
  margin: 5px 0 6px;
  cursor: pointer;
}

/* responsive work */
.menu-toggler {
  position: absolute;
  right: 30px;
  display: none;
}
.menu-toggler .menu-toggler-icons {
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #02863a;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}
.menu-toggler .menu-toggler-icons i,
.menu-toggler .menu-toggler-icons i {
  position: absolute;
  font-size: 1.5rem;
  color: #fff;
  transition: all 0.4s ease;
}
.menu-toggler .menu-toggler-icons .menu-close {
  opacity: 0;
  pointer-events: none;
}
.menu-toggler.active .menu-close {
  opacity: 1;
  pointer-events: auto;
}
.menu-toggler.active .menu-open {
  opacity: 0;
  pointer-events: none;
}
@media only screen and (min-width: 1120px) {
  .about-link:hover .sub-links,
  .courses-link:hover .sub-links,
  .projects-link:hover .sub-links,
  .services-link:hover .sub-links {
    opacity: 1;
    visibility: visible;
    transition: all 0.4s ease;
    transform: translateY(0px);
  }
}
@media only screen and (max-width: 1205px) {
}
@media only screen and (max-width: 1120px) {
  .categories-dropdown {
    left: 28.5%;
  }
  .nav-bar {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-links {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: #1e2f50;
    padding-inline: 0;
    width: 100%;
    top: 80px;
    left: 0;
    z-index: 888;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
  }

  .nav-links ul li {
    display: block;
    position: relative;
    border-top: 1px solid lightgrey;
    padding-inline: 0;
  }
  .nav-links ul li a {
    padding-left: 3rem;
  }
  .menu-toggler {
    display: block;
  }
  .nav-links.active {
    visibility: visible;
    opacity: 1;
  }
  .sub-links li a,
  .categories-dropdown li a {
    color: #fff;
    border-bottom: none;
  }
  .nav-links .sub-links li a {
    padding-left: 5.5rem;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 600;
  }
  .plus-minus {
    display: flex;
  }
  .about-link.active .sub-links,
  .courses-link.active .sub-links,
  .projects-link.active .sub-links,
  .services-link.active .sub-links {
    visibility: visible;
    opacity: 1;
    position: static;
    background-color: transparent;
    padding: 0;
    margin: -20px 0 20px 0;
    transition: opacity 0.5s ease;
  }

  .about-us {
    flex-direction: column;
  }
  .about-text {
    width: 100%;
    padding-bottom: 15px;
  }
  .about-cards {
    width: 100%;
    justify-content: center;
  }
  .about-text article h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .department-cards {
    flex-wrap: wrap;
  }
  .newsletter-section {
    max-width: 90%;
  }
  .newsletter-left h3 {
    font-size: 36px;
  }
  .newsletter-link {
    max-width: 280px;
  }
  .big-footer-container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content:center; */
  }
  .col-7 {
    width: 100%;
  }
  .col-5 {
    width: 100%;
    text-align: center;
  }
  .col-4 {
    width: 50%;
    padding-bottom: 30px;
  }
  .col-3 {
    width: 50%;
  }
  .col-2 {
    width: 26%;
  }
  footer > div {
    flex-wrap: wrap;
    justify-content: center;
  }
  .pay-meth {
    text-align: center;
  }
}
@media only screen and (max-width: 915px) {
  .department-card {
    width: 50%;
    max-width: 400px;
  }
  .featured-card-content h2 {
    font-size: 19px;
  }
}
@media only screen and (max-width: 850px) {
  .featured-card {
    width: 50%;
  }
}
@media only screen and (max-width: 750px) {
  .categories,
  .search {
    display: none;
  }
  .main-content {
    min-height: 450px;
  }
  .newsletter-section {
    padding: 30px;
  }
  .newsletter-left h3 {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
  }
  .newsletter-link {
    font-size: 16px;
    padding: 15px 50px;
  }
  .big-footer {
    padding: 120px 0 40px;
    margin-top: -85px;
  }
}

@media only screen and (max-width: 615px) {
  .contact .email span {
    display: none;
  }
  .main-content h2 {
    padding-bottom: 15px;
    font-size: 45px;
    line-height: 55px;
  }
  .main-content p {
    font-size: 30px;
    line-height: 40px;
  }
  .first-btn {
    margin-right: 0.5rem;
  }
  .about-us {
    padding: 40px 15px;
  }
  .about-card {
    width: 100%;
    max-width: 230px;
  }
  .first-btn {
    margin-right: 0.5rem;
  }
  .main-btn {
    padding: 15px 25px 15px 50px;
    font-size: 12px;
  }
  .departments-section {
    padding-top: 0;
  }
  .department-card {
    width: 100%;
    max-width: 350px;
  }
  .featured-card {
    width: 100%;
    max-width: 400px;
  }
  .newsletter-section {
    flex-direction: column;
  }
  .newsletter-left,
  .newsletter-right {
    width: 100%;
  }
  .newsletter-link {
    padding: 10px 15px;
  }
  .col-7 {
    width: 100%;
  }
  .col-5 {
    width: 100%;
    text-align: center;
  }
  .col-4 {
    width: 100%;
    padding-bottom: 30px;
  }
  .col-3 {
    width: 50%;
  }
  .col-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-logo {
    display: flex;
    justify-content: center;
  }
  .footer-logo a img {
    margin: 0;
  }
  .big-footer ul.tws-social {
    justify-content: center;
  }
  .certification {
    margin: 0 0 0 25px;
    display: flex;
    justify-content: center;
  }
  .widget-title {
    margin-bottom: 0;
    padding-bottom: 10px !important;
    margin-left: 16px;
  }
  .widget.widget_nav_menu {
    text-align: center;
    margin-bottom: 20px;
  }
  .widget_nav_menu ul li:before {
    display: none;
  }
  .col-3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .icon-text-block {
    margin-bottom: 12px;
  }
  .icon-text-block .icon-block i {
    display: none;
  }
  .icon-text-block .content {
    width: 100%;
  }
  .icon-text-block .content p {
    text-align: center;
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 425px) {
  .main-content {
    min-height: 400px;
  }
  .main-content h2 {
    padding-bottom: 10px;
    font-size: 35px;
    line-height: 45px;
  }
  .main-content p {
    font-size: 25px;
    line-height: 30px;
  }
}
@media only screen and (max-width: 414px) {
  .top-bar {
    width: 100%;
  }
  .phone {
    padding-right: 2px;
  }
  .phone a:last-child {
    display: none;
  }
  .email {
    padding-left: 5px;
  }
  .main-btn {
    padding: 12px 10px 10px 30px;
    font-size: 10px;
  }
  .first-btn {
    margin-right: 0;
  }
  .main-btn:before {
    font-size: 12px;
    top: 11px;
    left: 13px;
  }
  .about-us {
    padding: 35px 0px;
  }
  .about-text article h1 {
    font-size: 20px;
    line-height: 35px;
  }
  .about-text p {
    font-size: 14px;
  }
  .department-card {
    width: 100%;
  }
  .featured-card {
    width: 100%;
  }
  .featured-card-content h2 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 338px) {
  .main-content h2 {
    padding-bottom: 10px;
    font-size: 30px;
    line-height: 40px;
  }
  .main-content h2 {
    padding-bottom: 10px;
    font-size: 30px;
    line-height: 40px;
  }
}
